
body{
    background-color: #f4f8f7;
}


#blog-title{
    position: absolute;
    left: 40%;
    top: 50px;
}

#blog-main{
    position: absolute;
    top: 200px;
    left: 35%;
    background-color: beige;
    width: 400px;
}

#blog-up{
    position: absolute;
    top: 100px;
    left: 35%;
    background-color: beige;
    width: 300px;
}

#blog-left{
    position: absolute;
    left: 35%;
    top: 300px;
    background-color: beige;
    width: 300px;
}

#blog-right{
    position: fixed;
    left: 0;
    background-color: beige;
}
#register-success-disp{
    
    display: none;
    position: absolute;
    top: 200px;
    left: 40%; 
    background-color: beige;
    width:200px;
}

.register-lable{
    display: block;
    color: #EE2C2C;
}
.input-block{
    margin-top: 10px;
    margin-bottom: 10px;
}